<h3 class="title">Cellular Automation</h3>
<h4 class="sub-title">Using Rule30 Algorithm</h4>

<div class="button-container">
    <button type="button" class="reset-automation btn btn-primary btn-sm" title="Reset Automation">Reset</button>
    <button type="button" class="start-automation btn btn-primary btn-sm" title="Start Automation">Start Automation</button>
    <button type="button" class="stop-automation btn btn-primary btn-sm" title="Stop Automation">Stop Automation</button>
</div>